$years: (1970, 1980, 1990, 2000, 2010, 2020)

#decades > .decade
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  width: 100%
  & > .title-screen,
  & > .title-screen > .header,
  & > .game-screen,
  & > .game-screen > .game-grid
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 100%
    height: 100vh
  & > .title-screen > .header
    font-size: 16rem
    & > .title
      -webkit-user-select: none
      -ms-user-select: none
      user-select: none

@each $year in $years
  #decade-#{$year}
    @include decade($year)
