@mixin stars-background($color: #FFF)
  .stars-container
    width: 100%
    display: flex
    height: 200vh
    position: absolute
    left: 0
    overflow: hidden
    & > .stars
      background: transparent
      position: absolute
      overflow: hidden
      &.small
        width: 1px
        height: 1px
        box-shadow: generate-stars(700)
        animation: stars 50s linear infinite
        &:after
          width: 1px
          height: 1px
          box-shadow: generate-stars(700)
      &.medium
        width: 2px
        height: 2px
        box-shadow: generate-stars(200)
        animation: stars 80s linear infinite
        &:after
          width: 2px
          height: 2px
          box-shadow: generate-stars(200)
      &.large
        width: 3px
        height: 3px
        box-shadow: generate-stars(100)
        animation: stars 110s linear infinite
        &:after
          width: 3px
          height: 3px
          box-shadow: generate-stars(100)
      &:after
        content: " "
        position: absolute
        top: 2000px
        background: transparent


@mixin decade($year)
  @if $year == 1970
    background-color: $main-1970-background-color
    color: $main-1970-text-color
    border-color: $main-1970-border-color
    @include stars-background(#FFF)
    .title-screen > .header > .title
      font-family: $main-1970-title-font
  @else if $year == 1980
    background-color: $main-1980-background-color
    color: $main-1980-text-color
    border-color: $main-1980-border-color
    .title-screen > .header > .title
      font-family: $main-1980-title-font
  @else if $year == 1990
    background-color: $main-1990-background-color
    color: $main-1990-text-color
    border-color: $main-1990-border-color
    .title-screen > .header > .title
      font-family: $main-1990-title-font
      text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.5), 0 0.5px 0 #F70202, 0 0 0 tint-color(#F70202, 37.5%), 2px -2px 0 rgba(255, 255, 255, 0.9)
  @else if $year == 2000
    background-color: $main-2000-background-color
    color: $main-2000-text-color
    border-color: $main-2000-border-color
    .title-screen > .header > .title
      font-family: $main-2000-title-font
      text-shadow: extra-text-shadow(shade-color(#C5B6B3, 37.5%), 60) !important
      -webkit-text-stroke: 0.75px shade-color(#C5B6B3, 50%)
      transform: perspective(1000px)rotateX(15deg)
      cursor: pointer
  @else if $year == 2010
    background-color: $main-2010-background-color
    color: $main-2010-text-color
    border-color: $main-2010-border-color
    @include stars-background(#FFF)
    .title-screen > .header > .title
      display: flex
      flex-direction: row
      font-family: $main-2010-title-font
      -webkit-text-stroke: 6px #FFFFFF
      -webkit-text-fill-color: transparent
      transform: rotateX(15deg)
      perspective: 9999px
      transform-style: preserve-3d
      & div
        padding: 0 0.25rem
        background-clip: text
        -webkit-background-clip: text
      & div:nth-child(1)
        text-shadow: 0px 1px 4px rgba(#049CD8, 90%), 0px 4px 4px #EEE, 2px 8px 4px #DDD, 3px 16px 4px #CCC, extra-text-shadow(shade-color(#FFFFFF, 25%), 35, 1px, 0px)
      & div:nth-child(2)
        text-shadow: 0px 1px 4px rgba(#43B047, 90%), 0px 4px 4px #EEE, 2px 8px 4px #DDD, 3px 16px 4px #CCC, extra-text-shadow(shade-color(#FFFFFF, 25%), 35, 1px, 0px)
      & div:nth-child(3)
        text-shadow: 0px 1px 4px rgba(#FBD000, 90%), 0px 4px 4px #EEE, 2px 8px 4px #DDD, 3px 16px 4px #CCC, extra-text-shadow(shade-color(#FFFFFF, 25%), 35, 1px, 0px)
      & div:nth-child(4)
        text-shadow: 0px 1px 4px rgba(#E52521, 90%), 0px 4px 4px #EEE, 2px 8px 4px #DDD, 3px 16px 4px #CCC, extra-text-shadow(shade-color(#FFFFFF, 25%), 35, 1px, 0px)
  @else if $year == 2020
    background-color: $main-2020-background-color
    color: $main-2020-text-color
    border-color: $main-2020-border-color
    @include stars-background(#FFF)
    .title-screen > .header > .title
      font-family: $main-2020-title-font
  @else
    @error "Unknown year #{$year}"
