/// Terminal
$terminal-font: 'Inconsolata'
$terminal-background-color: black
$terminal-text-color: #05FF00
$terminal-caret-color: $terminal-text-color

/// Main
$main-font: 'Odibee Sans'
$main-gradient-color-1: shade-color(#ff0000, 37.5%)
$main-gradient-color-2: shade-color(#00ff00, 37.5%)
$main-gradient-color-3: shade-color(#0000ff, 37.5%)
// $main-background-color:
// $main-text-color: 

/// 1970s
$main-1970-background-color: black
$main-1970-text-color: white
$main-1970-border-color: white
$main-1970-card-background-color: black
$main-1970-card-text-color: white
$main-1970-title-font: 'LG A100'
/// 1980s
$main-1980-background-color: #6EA4FD
$main-1980-text-color: white
$main-1980-border-color: black
$main-1980-card-background-color: white
$main-1980-card-text-color: black
/// 1990s
$main-1990-background-color: white
$main-1990-text-color: black
$main-1990-border-color: red
$main-1990-card-background-color: white
$main-1990-card-text-color: black
/// 2000s
$main-2000-background-color: #27D1B3
$main-2000-text-color: black
$main-2000-border-color: #369080
$main-2000-card-background-color: #96FFAD
$main-2000-card-text-color: black
/// 2010s
$main-2010-background-color: #C0E5ED
$main-2010-text-color: #4A71AA
$main-2010-border-color: transparent
$main-2010-card-background-color: #708C93
$main-2010-card-text-color: #4A71AA
/// 2020s
$main-2020-background-color: #444444
$main-2020-text-color: #D0D0D0
$main-2020-border-color: black
$main-2020-card-background-color: #444444
$main-2020-card-text-color: #D0D0D0

/// Exit
